.row {
  display: flex;
  flex-direction: row;

  label {
    display: flex;
    flex-direction: column;
    color: #242424;
    margin: 0.5rem;
    margin-inline: 1rem;
    gap: 0.5rem;
  }
}

input,
textarea {
  color: #242424;
  background-color: #dbdbdb;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.question {
  width: 100%;

  textarea {
    height: 100px;
    margin-block-end: 2rem;
  }
}

.submit {
  margin: auto;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: var(--primary-color);
  border-radius: 10px 10px 0 0;
}
